@* Đây là nội dung cho video *@


@section StylesLearn{
    <link href="~/Content/Assets/template03/css/css2.css" rel="stylesheet" />
}


@section ScriptsLearn{
    <script src="~/Content/Assets/template03/js/js1.js"></script>
}


<div class="video-container">
    <iframe id="video-player"
            src="https://www.youtube.com/live/t0x3fXzlios?si=M-tT6avV_9k3MPPI"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
</div>